
<header class="fixtop" data-spy="affix" data-offset-top="60">
    <div class="menu">
        <div class="navbar mbtm0" role="navigation">

            <div class="container-fluid">   
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header"  style="width:37%;">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#" style="width:70%;" >
                               <div style="position:relative">
                               <div class="col-md-8">
                               <div class="caja-logo">
                               {% if is_admin %}
                               <div class="image-upload lapiz visible-movil">
                                <label for="img_header_logo">
                                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                 </label>
                                 <input type="file" class="editableimage" image-id="{{ site.name }}_header_logo" name="image" id="img_header_logo" >
                             </div>
                             {% end %}
                             <img id="{{ site.name }}_header_logo" src="{{ read_image(site.name + '_header_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_header_logo',) }}'" class="img-responsive logo" alt="item">
                             </div>
                             </div>

                         </div>
                               </a>
                        </div>
                        <div class="navbar-collapse collapse">
                    
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a  href="#" class="">Que hacemos</a>
                                </li>
                                <li>
                                    <a href="#">Como lo hacemos</a>
                                </li>
                               
                                <li>
                                    <a class="tag" href="{{ site_base }}/hype">Hype</a>
                                </li>
                                 <li>
                                    <a class="tag" href="{{ site_base }}/soluciones">Soluciones</a>
                                </li> 
                                <li>
                                    <a class="tag" href="{{ site_base }}/developers">Developers</a>
                                </li> 
                            </ul>
                       </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bot hidden-xs"> 
        <ul id="lista" class="nav uno" >
            <li>
                <a href="{{site_base}}/contact">Contacto</a>
            </li>
        </ul>
    </div>
</header>

